html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #00539F;
}
h1 {
  margin: 0;
  font-size: 64px;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 9px black;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

form {
  border-style:ridge;
}